<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title" *ngIf="isAdd">{{'CMS.ADD' | translate }} </h3>
            <h3 class="kt-portlet__head-title" *ngIf="!isAdd">{{'CMS.EDIT' | translate }}</h3>

        </div>
    </div>

    <div class="kt-portlet__body">

        <form class="kt-form kt-form__group" name="addEditCMSForm" [formGroup]="addEditCMSForm">
            <div class="kt-portlet__body">
                <!-- <div *ngIf="Editor">    <ckeditor  #editor [editor]="Editor"  class="form-control" type="text" placeholder="Enter Contant" formControlName="cms_content_ar"            [ngClass]="{ 'is-invalid': submitted && addEditCMSForm.controls.cms_content_ar.errors }"></ckeditor></div> -->
                <!-- -----------control -->
                <div class="form-group  row">
                    <div class="col-lg-3">
                        <label for="example-text-input" class="col-form-label">
                            {{'CMS.LABEL.CMS_TYPE' | translate}}*
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <select class="form-control m-input" id="cms" formControlName="cms_type"
                            [ngClass]="{ 'is-invalid': submitted && addEditCMSForm.controls.cms_type.errors }">
                            <option value="">Select type</option>
                            <option value="About Us">About us</option>
                            <option value="Privacy Policy">Privacy policy</option>
                            <option value="Term & Conditions">Term & conditions</option>
                            <option value="Contact Us">contact us</option>
                            <option value="Blog">Blog</option>
                            <option value="FAQ">FAQ</option>
                        </select>

                        <div *ngIf="submitted && addEditCMSForm.controls.cms_type.errors" class="form-control-feedback"
                            style="color: red">
                            <p *ngIf="submitted && addEditCMSForm.controls.cms_type.errors?.required">
                                {{'CMS.VALIDATION.FIELD_REQUIRED' | translate }}
                            </p>
                            <p *ngIf="addEditCMSForm.controls.cms_type.errors?.minlength && !addEditCMSForm.controls.cms_type.errors?.pattern"
                                class="lbl-err">
                                {{'CMS.VALIDATION.MIN_CHARACTER' | translate }}
                            </p>
                            <p *ngIf="addEditCMSForm.controls.cms_type.errors?.maxlength && !addEditCMSForm.controls.cms_type.errors?.pattern"
                                class="lbl-err">
                                {{'CMS.VALIDATION.MAX_CHARACTER' | translate }}
                            </p>
                            <p *ngIf="submitted && addEditCMSForm.controls.cms_type.errors?.pattern">
                                {{'CMS.VALIDATION.INVALID_TITLE' | translate }}
                            </p>
                        </div>


                    </div>
                </div>

                <!-- -----------control -->
                <div class="form-group  row">
                    <div class="col-lg-3">
                        <label for="example-text-input" class="col-form-label">
                            {{'CMS.LABEL.CMS_TITLE_EN' | translate}}*
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <input class="form-control m-input m-login__form-input--last"
                            placeholder="{{'CMS.PLACEHOLDERS.CMS_TITLE' | translate}}" type="text"
                            formControlName="cms_title_en"
                            [ngClass]="{ 'is-invalid': submitted && addEditCMSForm.controls.cms_title_en.errors }">
                        <div *ngIf="submitted && addEditCMSForm.controls.cms_title_en.errors"
                            class="form-control-feedback" style="color: red">
                            <p *ngIf="submitted && addEditCMSForm.controls.cms_title_en.errors?.required">
                                {{'CMS.VALIDATION.FIELD_REQUIRED' | translate }}
                            </p>
                            <p *ngIf="addEditCMSForm.controls.cms_title_en.errors?.minlength && !addEditCMSForm.controls.cms_title_en.errors?.pattern"
                                class="lbl-err">
                                {{'CMS.VALIDATION.MIN_CHARACTER' | translate }}
                            </p>
                            <p *ngIf="addEditCMSForm.controls.cms_title_en.errors?.maxlength && !addEditCMSForm.controls.cms_title_en.errors?.pattern"
                                class="lbl-err">
                                {{'CMS.VALIDATION.MAX_CHARACTER' | translate }}
                            </p>
                            <p *ngIf="submitted && addEditCMSForm.controls.cms_title_en.errors?.pattern">
                                {{'CMS.VALIDATION.INVALID_TITLE' | translate }}
                            </p>
                        </div>


                    </div>
                </div>

                <!-- -----------control -->
                <div class="form-group  row">
                    <div class="col-lg-3">
                        <label for="example-text-input" class="col-form-label">
                            {{'CMS.LABEL.CMS_TITLE_AR' | translate}}*
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <input class="form-control m-input m-login__form-input--last"
                            placeholder="{{'CMS.PLACEHOLDERS.CMS_TITLE' | translate}}" type="text"
                            formControlName="cms_title_ar"
                            [ngClass]="{ 'is-invalid': submitted && addEditCMSForm.controls.cms_title_ar.errors }">
                        <div *ngIf="submitted && addEditCMSForm.controls.cms_title_ar.errors"
                            class="form-control-feedback" style="color: red">
                            <p *ngIf="submitted && addEditCMSForm.controls.cms_title_ar.errors?.required">
                                {{'CMS.VALIDATION.FIELD_REQUIRED' | translate }}
                            </p>
                            <p *ngIf="addEditCMSForm.controls.cms_title_ar.errors?.minlength && !addEditCMSForm.controls.cms_title_ar.errors?.pattern"
                                class="lbl-err">
                                {{'CMS.VALIDATION.MIN_CHARACTER' | translate }}
                            </p>
                            <p *ngIf="addEditCMSForm.controls.cms_title_ar.errors?.maxlength && !addEditCMSForm.controls.cms_title_ar.errors?.pattern"
                                class="lbl-err">
                                {{'CMS.VALIDATION.MAX_CHARACTER' | translate }}
                            </p>
                            <p *ngIf="submitted && addEditCMSForm.controls.cms_title_ar.errors?.pattern">
                                {{'CMS.VALIDATION.INVALID_TITLE' | translate }}
                            </p>
                        </div>


                    </div>
                </div>

                <!-- -----------control -->
                <div class="form-group  row">
                    <div class="col-md-12 col-lg-12">
                        <label for="example-text-input" class="col-form-label">
                            {{'CMS.LABEL.CMS_CONTENT_EN' | translate}}*
                        </label>
                    </div>
                    <div class="col-md-12 col-lg-12" *ngIf="Editor">
                        <ckeditor #editor [editor]="Editor" class="form-control ht-auto" type="text"
                            placeholder="Enter Content" formControlName="cms_content_en"
                            [ngClass]="{ 'is-invalid': submitted && addEditCMSForm.controls.cms_content_en.errors }">
                        </ckeditor>

                        <div *ngIf="submitted && addEditCMSForm.controls.cms_content_en.errors"
                            class="form-control-feedback" style="color: red">
                            <p *ngIf="submitted && addEditCMSForm.controls.cms_content_en.errors?.required">
                                {{'CMS.VALIDATION.FIELD_REQUIRED' | translate }}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- -----------control -->
                <div class="form-group  row">
                    <div class="col-md-12 col-lg-12">
                        <label for="example-text-input" class="col-form-label">
                            {{'CMS.LABEL.CMS_CONTENT_AR' | translate}}*
                        </label>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <ckeditor #editor [editor]="Editor" class="form-control ht-auto" type="text"
                            placeholder="Enter Content" formControlName="cms_content_ar"
                            [ngClass]="{ 'is-invalid': submitted && addEditCMSForm.controls.cms_content_ar.errors }">
                        </ckeditor>
                        <div *ngIf="submitted && addEditCMSForm.controls.cms_content_ar.errors"
                            class="form-control-feedback" style="color: red">
                            <p *ngIf="submitted && addEditCMSForm.controls.cms_content_ar.errors?.required">
                                {{'CMS.VALIDATION.FIELD_REQUIRED' | translate }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="form-group  row">
                    <div class="col-xl-3">
                        <button type="button" routerLink="/admin/cms-management/list"
                            class="btn btn-secondary btn-elevate btn-icon-sm">{{'BUTTONS.CANCEL' | translate }}</button>
                    </div>
                    <div class="col-xl-9">
                        <button type="submit" (click)="onSubmit()"
                            class="btn btn-brand btn-elevate btn-icon-sm bt-right"> {{'BUTTONS.SUBMIT' | translate }}
                        </button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>