<!-- <div class="slr_loader_bx">
    <div class="slr_inr_box">
        <div class="slr_loader"></div>
        Loading...
    </div>
</div> -->

<kt-splash-screen *ngIf="loader"></kt-splash-screen>
<router-outlet></router-outlet>
<div class="kt-page-loader kt-page-loader--base kt-page-loader--non-block" style="margin-left: -80px; margin-top: -20px;">
    <div class="kt-blockui">
       <span>Please wait...</span>
       <span>
          <div class="kt-loader kt-loader--brand spinner spinner-darker-primary spinner-right mr-3"></div>
       </span>
    </div>
 </div>